body {
 margin: 0;
 display: block;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: #82f8df;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 1.2em;
 margin-left: 30px;
    }
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.95);
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.5s ease;
  z-index: 1;
  overflow: hidden;
}

/* Show overlay */
.overlay.open {
  transform: scale(1);
}

/* Close button */
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
  text-decoration: none;
}

/* Overlay content */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay-content a:hover {
  color: #f1f1f1;
}

img {
      max-width: 50%;
      height: auto;
    }