body {
  align-items:center;
  justify-content:center;
  height:100vh;
  background: #f7fafc;
  font-family: 'Inter', system-ui, sans-serif;
  color:var(--text);
  background-image: url('images/beer1.jpg');
  color: #f4f4f4;
}
    
.top-menu {
   overflow: hidden;
   color: rgb(255, 255, 255);
   padding: 10px 20px;
   position: fixed;
}
.top-menu a {
   color: rgb(255, 255, 255);
   padding: 14px 16px;
   text-decoration: none;
   display: inline-block;
   font-weight: 500;
  }
.top-menu a:hover {
   background-color: #707070;
}
   
.side-menu {
   height: 100vh;
   width: 200px;
   position: fixed;
   top: 66px;
   left: 0;
   padding-top: 20px;
   background-image: url('images/beer2.jpg');
   font-weight: 500;
}
.side-menu a {
   display: block;
   color: #000000;
   padding: 10px 20px;
   text-decoration: none;
   
}
.side-menu a:hover {
   color: #970000;
}
   
.main-content {
   margin-left: 220px;
   padding: 20px; 
   margin-right: 350px; 
}
.selector {
  position: fixed;
  bottom: 900px; 
  left: 1px; 
  height: 40px;
  width: 100px;
  background-color: #f4f4f4;
  padding-top: 0px;
  box-shadow: 2px 5px rgba(0,0,0,0.1);
  text-align: center;
 } 
.select {
  position: fixed;
  bottom: 920px; 
  left: 1px; 
  height: 40px;
  width: 100px;
  padding-top: 0px;
  text-align: center;   
}
ul {
   list-style-type: circle;
}